.container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.form {
  text-align: center;
  border: 1px solid black;
  padding: 15px;
}

.form > div {
  text-align: right;
  margin-bottom: 10px;
}

.form > div > input {
  margin: 0px 0px 10px 10px;
}
